#nav-links ul{
   display: flex;
   list-style: none; 
   color: black;
   gap: 15px;
   justify-content: end;
}
a{
    text-decoration: none;
    color: black;
}
.content{
    background-image: url{https://images.unsplash.com/photo-1650114125533-7c69a7d9cc6e?q=80&w=1065&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D};
}
